
/* header */
header{
    width: 100vw;
    height: 10rem;
    background-image: linear-gradient(90deg, #29323c 0%, #485563 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .logo{
    width: 8rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1{
    width: 8rem;
    height: 8rem;
    background-color: rgb(30, 88, 138);
}

.logo a{
    width: 8rem;
    height: 8rem;
}

/*
.logo a img{}
*/

header nav{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul{
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

nav ul li{
    width: 12rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 20%;
}

nav ul li:hover{
    background-color: #333;
}



/* main */
main{
    display: flex;
    width: 100vw;
    height: 400vh;
    flex-direction: column;
}

main .main-section{
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* part-1 */
.part-1{
    background-color: black;
    display: flex;
    justify-content: center;
}

.part-1 .main-wrapper{
    display: flex;
    width: 70%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.part-1 .main-wrapper p{
    color:aliceblue;
    font-size: 50px;
    font-weight: 700;
}

.part-1 .main-wrapper .main-header{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}

.part-1 .main-wrapper .store-wrapper{
    width: 100%;
    height: 10%;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.part-1 .main-wrapper .store-wrapper button{
    margin-top: 100px;
    color:aliceblue;
    font-size: 30px;
    border: 1px solid aliceblue;
    border-radius: 10px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.part-1 .main-wrapper .store-wrapper button:hover{
    background-color: #222;
}

.part-1 .main-wrapper .store-wrapper button img{
    width: 50px;
    height: 100%;
}




/* part-2 */
.part-2{
    background-color: black;
    display: flex;
    flex-direction: column;
}

.part-2 .section-1{
    align-items: center;
    width: 100vw;
    height: 50vh;
    background-color: lightcoral;
}

.part-2 .section-2{
    align-items: center;
    width: 100vw;
    height: 50vh;
    background-color: lightsalmon;
}

.content-wrapper{
    width: 70%;
    height: 100%;
    display: block;
    background-color: beige;
}

.part-3{
    background-color: aqua;
}

.part-4{
    background-color: lightgreen;
}