
/* header */
header{
    width: 100vw;
    height: 10rem;
    background-image: linear-gradient(90deg, #29323c 0%, #485563 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .logo{
    width: 8rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1{
    width: 8rem;
    height: 8rem;
    background-color: rgb(30, 88, 138);
}

.logo a{
    width: 8rem;
    height: 8rem;
}

/*
.logo a img{}
*/

header nav{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul{
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

nav ul li{
    width: 12rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 20%;
}

nav ul li:hover{
    font-size: 26px;
    color: rgb(211, 220, 249);
}



/* main */
main{
    display: flex;
    width: 100vw;
    height: 400vh;
    flex-direction: column;
}

main .main-section{
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* part-1 */
.part-1{
    background-color: black;
    display: flex;
    justify-content: center;
}

.part-1 .main-wrapper{
    display: flex;
    width: 70%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.part-1 .main-wrapper p{
    color:aliceblue;
    font-size: 50px;
    font-weight: 700;
}

.part-1 .main-wrapper .main-header{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}

.part-1 .main-wrapper .store-wrapper{
    width: 100%;
    height: 10%;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.part-1 .main-wrapper .store-wrapper button{
    margin-top: 100px;
    color: aliceblue;
    font-size: 30px;
    border: 1px solid aliceblue;
    border-radius: 10px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.part-1 .main-wrapper .store-wrapper button:hover{
    background-color: #222;
}

.part-1 .main-wrapper .store-wrapper button img{
    width: 50px;
    height: 100%;
}




/* part-2 */
.part-2{
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.part-2 .bg-section-1{
    align-items: center;
    width: 100vw;
    height: 50vh;
    background-image: linear-gradient(270deg, #0d182c 30%, #102245 85%, #183567 100%);
}

.part-2 .bg-section-2{
    align-items: center;
    width: 100vw;
    display: flex;
    height: 50vh;
    background-image: linear-gradient(90deg, #0d182c 30%, #14274a 85%, #192e53 100%);
}

/*part-2-upper*/
.part-2 .bg-section-1 .part-2-upper-wrapper{
    width: 60%;
    height: 100%;
    margin: 20px;
    display: flex;
    border: 4px solid white;
    border-radius: 15px;
    box-sizing: border-box;
    gap: 30px;
}

.part-2 .bg-section-1 .part-2-upper-wrapper .part-2-upper-frame{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.part-2 .bg-section-1 .part-2-upper-wrapper .part-2-upper-frame p{
    font-size: 20px;
    margin-left: 20px;
}

.part-2 .bg-section-1 .part-2-upper-wrapper .part-2-upper-frame .part-2-main-header{
    font-size: 40px;
    border-bottom: 1px solid wheat;
    margin-bottom: 30px;
}

.part-2 .bg-section-1 .part-2-upper-wrapper .part-2-upper-frame .part-2-video-wrapper{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}

.part-2 .bg-section-1 .part-2-upper-wrapper .part-2-upper-frame .part-2-video-wrapper img{
    color: black;
    padding: 20px;
}


/*part-2-under*/
.part-2 .bg-section-2 .part-2-under-wrapper{
    width: 60%;
    height: 100%;
    display: flex;
    margin: 20px;
    gap: 20px;
}

.part-2 .bg-section-2 .part-2-under-wrapper .part-2-under-frame{
    width: 50%;
    height: 100%;
    display: flex;
    border: 4px solid white;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.part-2 .bg-section-2 .part-2-under-wrapper .part-2-under-frame p{
    margin-left: 20px;
    font-size: 18px;
}


.part-2 .bg-section-2 .part-2-under-wrapper .part-2-under-frame .part-2-sub-header{
    font-size: 36px;
    padding-bottom: 50px;
}






/*part-3*/
.part-3{
    background-color: beige;
}

.part-4{
    background-color: lightcyan;
}